@import "global";

footer {
    max-width: $max-width;
    margin: 0 auto 50px auto;
    padding: 40px;
    background: #1d1d1d;
    position: relative;
    z-index: 3;

    @media all and (max-width: $max-width) {
        margin: 0;
    }

    > ul {
        margin: 0;
        padding: 0;
        list-style: none;

        @media all and (max-width: $mobile-breakpoint) {
            margin-bottom: 20px;
            text-align: center;
        }

        li {
            display: inline-block;

            &::after {
                display: inline-block;
                padding: 0 10px;
                color: white;
                content: "•";
            }

            &:last-child::after {
                display: none;
            }

            a {
                color: white;
                text-decoration: none;
            }
        }
    }

    > div {
        display: flex;
        align-items: center;

        @media all and (max-width: $mobile-breakpoint) {
            text-align: center;
            flex-direction: column;
            padding: 20px;
        }

        p {
            flex: 1;
            margin: 0;
            color: #ccc;

            &:first-child {
                a {
                    font-weight: bold;
                    color: white;
                }
            }

            &:last-child {
                text-align: right;
                display: flex;
                align-items: center;

                @media all and (max-width: $mobile-breakpoint) {
                    margin-top: 10px;
                    flex-direction: column;
                }

                span {
                    flex: 1;
                    padding: 10px;
                }

                img {
                    display: block;
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}