@import "global";

.home {
    background: white;

    main {
        padding: 0;
    }

    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        padding-top: 595px;
        background: #333 url(/Resources/Images/Home-Combine.jpg) no-repeat center center;
        background-size: cover;
        z-index: -1;

        @media all and (max-width: 1100px) {
            padding-top: 60%;
        }

        @media all and (max-width: $mobile-breakpoint) {
            padding-top: 100%;
        }
    }

    .slideshow {
        background-color: rgba(20, 87, 20, .6);
        color: white !important;
        width: 100%;
        height: 0;
        padding-top: 400px;
        position: relative;

        @media all and (max-width: $mobile-breakpoint) {
            padding-top: 80%;
        }

        > div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
            opacity: 0;
            transition: all .4s ease;
            z-index: 1;

            &.visible {
                opacity: 1;
                z-index: 2;
            }

            h2 {
                font-size: 36px;
                max-width: 450px;
                margin: 0 auto;
                text-align: center;
                line-height: 1.25;

                @media all and (max-width: $mobile-breakpoint) {
                    font-size: 24px;
                }
            }

            p {
                max-width: 450px;
                margin: 10px auto;
                text-align: center;
            }

            a {
                display: inline-block;
                border: solid 1px white;
                padding: 10px 20px;
                border-radius: 1px;
                font-size: 11px;
                letter-spacing: 3px;
                text-transform: uppercase;
                margin: 10px 0;
                color: white;
                text-decoration: none;
                transition: all .4s ease;

                &:hover {
                    background: white;
                    color: $green;
                }
            }
        }
    }

    .touts {
        background: white;
        display: flex;

        @media all and (max-width: $mobile-breakpoint) {
            flex-direction: column;
        }

        > div {
            flex: 1;
            padding: 40px;
            background-color: rgba(20, 87, 20, .2);
            text-align: center;

            &:first-child {
                padding-left: 200px;

                @media all and (max-width: 1000px) {
                    padding-left: 40px;
                }
            }

            &:last-child {
                padding-right: 200px;

                @media all and (max-width: 1000px) {
                    padding-right: 40px;
                }
            }

            img {
                display: block;
                margin: 20px auto;
                width: 60px;
                height: 60px;
            }

            h2 {
                max-width: 300px;
                margin: 0 auto;
                color: $green;
                text-transform: uppercase;
            }

            p {
                max-width: 300px;
                margin: 20px auto;
            }
        }
    }

    .apps {
        background: white url(/Resources/Images/App-Background.png) no-repeat center center;
        background-size: cover;
        display: flex;
        flex-direction: row-reverse;

        @media all and (max-width: $mobile-breakpoint) {
            flex-direction: column-reverse;
            text-align: center;
        }

        > div:first-child {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            img {
                display: block;
                width: 300px;
                margin-top: 40px;
                margin-right: 40px;

                @media all and (max-width: $mobile-breakpoint) {
                    margin: 0 auto;
                }
            }
        }

        > div:last-child {
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: white;

            h2 {
                font-size: 36px;
                font-weight: 300;
                margin: 0;
            }

            pointer-events {
                margin: 20px 0;
            }

            img {
                display: block;
                width: 150px;

                @media all and (max-width: $mobile-breakpoint) {
                    margin: 0 auto;
                }
            }
        }
    }

    .testimony {
        background: white url(/Resources/Images/Phinneas.jpg) no-repeat center center;
        background-size: cover;
        padding: 40px;

        @media all and (max-width: $mobile-breakpoint) {
            padding-top: 250px;
            text-align: center;
            background-position: center right;
        }

        p {
            max-width: 450px;
            line-height: 1.5;
            font-size: 24px;
            font-style: italic;
            font-weight: bold;

            @media all and (max-width: $mobile-breakpoint) {
                font-size: 16px;
            }

            span {
                background: $green;
                color: white;
            }
        }
    }
}