################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CDN
CMS/obj/
Web/obj/Release/build.force
