
<div ng-controller="ListViewController" ag-title="Listings" ag-selected-url="#/listings/list" ag-api-route="/cms/listings/">

    <ag-title-bar>

        <ag-title-bar-search ag-controller="list"></ag-title-bar-search>

        <gl-popup-menu gl-position="top right" class="responsive">
            <gl-menu-item gl-icon="search" ng-click="list.showSearch()">Search</gl-menu-item>
            <gl-menu-item gl-icon="refresh" gl-label-optional="true" ng-click="list.refresh()">Refresh</gl-menu-item>
        </gl-popup-menu>

    </ag-title-bar>

    <ag-section ag-controller="list">

        <gl-list gl-controller="list" gl-infinite="list.next()">
            <div ng-repeat="item in list.data">
                <photo style="background-image:url({{item.Photos[0].Thumb}})"></photo>
                <row class="listing">
                    <div>
                        <strong>{{item.Title}}</strong><br />
                        <small>{{item.Category.Title}} &bull; {{item.Brand}}</small>
                    </div>
                    <div>
                        <em class="status outline">{{item.Status}}</em>
                    </div>
                </row>
                <action>
                    <gl-popup-menu gl-position="top right">
                        <gl-menu-item gl-icon="visibility" ng-click="app.go('/listings/detail/'+item.Id+'?'+app.returnUrlQs())">View</gl-menu-item>
                        <gl-menu-item gl-icon="star" ng-click="app.go('/ratings/list/filter/listingid/'+item.Id+'?'+app.returnUrlQs())">Ratings</gl-menu-item>
                        <gl-menu-item gl-icon="delete" ng-click="list.delete($index, app.apiUrl + '/listings/delete?id=' + item.Id)">Delete</gl-menu-item>
                    </gl-popup-menu>
                </action>
            </div>
        </gl-list>

    </ag-section>

    <ag-status-bar></ag-status-bar>

</div>