
<div ng-controller="DashboardViewController" ag-title="Dashboard" ag-selected-url="#/dashboard" ag-api-route="/cms/dashboard/summary">

    <ag-title-bar>
        <gl-icon-button gl-icon="receipt" ng-click="app.redirect(app.apiUrl + '/cms/settlement/report')">Download Settlement Report</gl-icon-button>

    </ag-title-bar>

    <ag-section ag-controller="dashboard">

        <div class="dashboard-view">

            <div class="settlement">
                <ul>
                    <li><big>{{dashboard.data.totalBookingAmount | currency}}</big><strong>Total<br />Transactions</strong></li>
                    <li><big>{{dashboard.data.agrishareCommission | currency}}</big><strong>AgriShare<br />Commission</strong></li>
                    <li><big>{{dashboard.data.totalBookingAmount - dashboard.data.agrishareCommission | currency}}</big><strong>Paid<br />Out</strong></li>
                </ul>
            </div>

            <div class="overview">
                <ul>
                    <li><big>{{dashboard.data.activeListingCount}}</big><strong>Live<br />Listings</strong></li>
                    <li><big>{{dashboard.data.activeUsers}}</big><strong>Active<br />Users</strong></li>
                    <li><big>{{dashboard.data.completeBookingCount}}</big><strong>Paid<br />Bookings</strong></li>
                    <li><big>{{dashboard.data.smsBalance | currency}}</big><strong>SMS<br />Balance</strong></li>
                </ul>
            </div>

            <div class="activity">
                <h2 class="filter">
                    <a ng-click="dashboard.activity.filter.type='User';dashboard.fetch()" ng-class="{'active':dashboard.activity.filter.type=='User'}">User</a>
                    <a ng-click="dashboard.activity.filter.type='All';dashboard.fetch()" ng-class="{'active':dashboard.activity.filter.type=='All'}">All</a>
                    <span>&nbsp;</span>
                    <a ng-click="dashboard.activity.filter.timespan=7;dashboard.fetch()" ng-class="{'active':dashboard.activity.filter.timespan==7}">7 days</a>
                    <a ng-click="dashboard.activity.filter.timespan=30;dashboard.fetch()" ng-class="{'active':dashboard.activity.filter.timespan==30}">30 days</a>
                    <a ng-click="dashboard.activity.filter.timespan=0;dashboard.fetch()" ng-class="{'active':dashboard.activity.filter.timespan==0}">Lifetime</a>
                    <span>&nbsp;</span>
                    <a ng-click="dashboard.activity.filter.category=0;dashboard.fetch()" ng-class="{'active':dashboard.activity.filter.category==0}">All</a>
                    <a ng-click="dashboard.activity.filter.category=1;dashboard.fetch()" ng-class="{'active':dashboard.activity.filter.category==1}">Tractors</a>
                    <a ng-click="dashboard.activity.filter.category=2;dashboard.fetch()" ng-class="{'active':dashboard.activity.filter.category==2}">Lorries</a>
                    <a ng-click="dashboard.activity.filter.category=3;dashboard.fetch()" ng-class="{'active':dashboard.activity.filter.category==3}">Processing</a>
                </h2>
                <ul>
                    <li>
                        <div>
                            <round-progress max="dashboard.data.searchCount.Male + dashboard.data.searchCount.Female"
                                            current="dashboard.data.searchCount.Male + dashboard.data.searchCount.Female"
                                            rounded="true"
                                            clockwise="true"
                                            responsive="true"
                                            color="#cc3d78"
                                            bgcolor="#ddd">
                            </round-progress>
                            <span>{{dashboard.data.searchCount.Male + dashboard.data.searchCount.Female}}</span>
                        </div>
                        <strong>Total<br />Searches</strong>
                        <small>{{dashboard.data.searchCount.Male}} Male &bull; {{dashboard.data.searchCount.Female}} Female</small>
                    </li>
                    <li>
                        <div>
                            <round-progress max="dashboard.data.searchCount.Male + dashboard.data.searchCount.Female"
                                            current="dashboard.data.matchCount.Male + dashboard.data.matchCount.Female"
                                            rounded="true"
                                            clockwise="true"
                                            responsive="true"
                                            color="#cc3d78"
                                            bgcolor="#ddd">
                            </round-progress>
                            <span>{{dashboard.data.matchCount.Male + dashboard.data.matchCount.Female}}</span>
                        </div>
                        <strong>Matched<br />Searches</strong>
                        <small>{{dashboard.data.matchCount.Male}} Male &bull; {{dashboard.data.matchCount.Female}} Female</small>
                    </li>
                    <li>
                        <div>
                            <round-progress max="dashboard.data.searchCount.Male + dashboard.data.searchCount.Female"
                                            current="dashboard.data.bookingCount.Male + dashboard.data.bookingCount.Female"
                                            rounded="true"
                                            clockwise="true"
                                            responsive="true"
                                            color="#cc3d78"
                                            bgcolor="#ddd">
                            </round-progress>
                            <span>{{dashboard.data.bookingCount.Male + dashboard.data.bookingCount.Female}}</span>
                        </div>
                        <strong>Bookings<br />Made</strong>
                        <small>{{dashboard.data.bookingCount.Male}} Male &bull; {{dashboard.data.bookingCount.Female}} Female</small>
                    </li>
                    <li>
                        <div>
                            <round-progress max="dashboard.data.searchCount.Male + dashboard.data.searchCount.Female"
                                            current="dashboard.data.confirmCount.Male + dashboard.data.confirmCount.Female"
                                            rounded="true"
                                            clockwise="true"
                                            responsive="true"
                                            color="#cc3d78"
                                            bgcolor="#ddd">
                            </round-progress>
                            <span>{{dashboard.data.confirmCount.Male + dashboard.data.confirmCount.Female}}</span>
                        </div>
                        <strong>Bookings<br />Confirmed</strong>
                        <small>{{dashboard.data.confirmCount.Male}} Male &bull; {{dashboard.data.confirmCount.Female}} Female</small>
                    </li>
                    <li>
                        <div>
                            <round-progress max="dashboard.data.searchCount.Male + dashboard.data.searchCount.Female"
                                            current="dashboard.data.paidCount.Male + dashboard.data.paidCount.Female"
                                            rounded="true"
                                            clockwise="true"
                                            responsive="true"
                                            color="#cc3d78"
                                            bgcolor="#ddd">
                            </round-progress>
                            <span>{{dashboard.data.paidCount.Male + dashboard.data.paidCount.Female}}</span>
                        </div>
                        <strong>Paid<br />Bookings</strong>
                        <small>{{dashboard.data.paidCount.Male}} Male &bull; {{dashboard.data.paidCount.Female}} Female</small>
                    </li>
                    <li>
                        <div>
                            <round-progress max="dashboard.data.searchCount.Male + dashboard.data.searchCount.Female"
                                            current="dashboard.data.completeCount.Male + dashboard.data.completeCount.Female"
                                            rounded="true"
                                            clockwise="true"
                                            responsive="true"
                                            color="#cc3d78"
                                            bgcolor="#ddd">
                            </round-progress>
                            <span>{{dashboard.data.completeCount.Male + dashboard.data.completeCount.Female}}</span>
                        </div>
                        <strong>Completed<br />Bookings</strong>
                        <small>{{dashboard.data.completeCount.Male}} Male &bull; {{dashboard.data.completeCount.Female}} Female</small>
                    </li>
                </ul>
            </div>

        </div>

</ag-section>

    <ag-status-bar></ag-status-bar>

</div>