
<div ng-controller="DashboardViewController" ag-title="Dashboard" ag-selected-url="#/dashboard" ag-api-route="/cms/dashboard/summary">

    <ag-title-bar>
        <gl-icon-button gl-icon="receipt" ng-click="app.redirect('/pages/settlementreport.aspx')" ng-if="app.hasRole('Administrator')">Download Settlement Report</gl-icon-button>
        <gl-icon-button gl-icon="insights" ng-click="app.go('#/settings/edit/39?'+app.returnUrlQs())" ng-if="app.hasRole('Administrator')&&app.region.Id===1">USD1.00 = {{dashboard.data.currentUsdRate | currency : 'ZWL'}}</gl-icon-button>

        <span flex style="align-items: center; margin-left: 20px">
            <gl-date gl-placeholder="From" ng-model="dashboard.activity.filter.startDate"></gl-date>
            <span>&nbsp;→&nbsp;</span>
            <gl-date gl-placeholder="To" ng-model="dashboard.activity.filter.endDate"></gl-date>
        </span>
    </ag-title-bar>

    <ag-section ag-controller="dashboard">

        <div class="dashboard-view">

            <div class="overview">
                <ul>
                    <li><big>{{dashboard.data.activeListingCount | number}}</big><strong>Live<br />Listings</strong></li>
                    <li><big>{{dashboard.data.activeUsers | number}}</big><strong>Active<br />Users<br /><a class="material-icons" tooltips tooltip-side="bottom" tooltip-template="An Active User is a user who has used the app (performed any function within the app) during the selected time frame.">info</a></strong></li>
                    <li><big>{{dashboard.data.inactiveUsers | number}}</big><strong>Inactive<br />Users<br /><a class="material-icons" tooltips tooltip-side="bottom" tooltip-template="An Inactive User is a user who has NOT used the app during the selected time frame.">info</a></strong></li>
                    <li><big>{{dashboard.data.completeBookingCount | number}}</big><strong>Paid<br />Bookings</strong></li>
                    <li><big>{{dashboard.data.smsBalance | currency : '€'}}</big><strong>SMS<br />Balance</strong></li>
                </ul>
            </div>

            <div class="activity">

                <h2 class="filter">
                    <a ng-click="dashboard.activity.filter.overview='Listings'" ng-class="{'active':dashboard.activity.filter.overview=='Listings'}">Listings</a>
                    <a ng-click="dashboard.activity.filter.overview='Bookings'" ng-class="{'active':dashboard.activity.filter.overview=='Bookings'}">Bookings</a>
                </h2>

                <div class="chart-view">
                    <canvas class="chart chart-bar"
                            chart-data="dashboard.data.overviewGraph.Data"
                            chart-labels="dashboard.data.overviewGraph.Labels"
                            chart-series="dashboard.data.overviewGraph.Series"
                            chart-dataset-override="dashboard.graph.datasetOverride"
                            chart-colors="dashboard.graph.colors"
                            chart-options="dashboard.graph.options"
                            height="100"></canvas>
                </div>

            </div>

            <h2 flex>
                <span style="flex: 1">Finance</span>
            </h2>

            <div class="settlement">
                <ul>
                    <li><big>{{dashboard.data.totalBookingAmount | currency : app.region.CurrencyCode}}</big><strong>Total<br />Transactions</strong></li>
                    <li><big>{{dashboard.data.agrishareCommission | currency : app.region.CurrencyCode}}</big><strong>AgriShare<br />Commission</strong></li>
                    <li><big>{{dashboard.data.feesIncurred | currency : app.region.CurrencyCode}}</big><strong>Fees<br />Incurred</strong></li>
                    <li><big>{{dashboard.data.agentsCommission | currency : app.region.CurrencyCode}}</big><strong>Agents<br />Commission</strong></li>
                </ul>
            </div>

            <div class="chart-view">
                <canvas class="chart chart-line"
                        chart-data="dashboard.data.profitGraph.Data"
                        chart-labels="dashboard.data.profitGraph.Labels"
                        chart-series="dashboard.data.profitGraph.Series"
                        chart-dataset-override="dashboard.graph.datasetOverride"
                        chart-colors="dashboard.graph.colors"
                        chart-options="dashboard.graph.options"
                        height="100"></canvas>
            </div>

            <div class="activity">
                <h2 class="filter">
                    <a ng-click="dashboard.activity.filter.type='User'" ng-class="{'active':dashboard.activity.filter.type=='User'}">User</a>
                    <a ng-click="dashboard.activity.filter.type='All'" ng-class="{'active':dashboard.activity.filter.type=='All'}">All</a>
                    <span>&nbsp;</span>
                    <a ng-click="dashboard.activity.filter.category=0" ng-class="{'active':dashboard.activity.filter.category==0}">All</a>
                    <a ng-click="dashboard.activity.filter.category=1" ng-class="{'active':dashboard.activity.filter.category==1}">Tractors</a>
                    <a ng-click="dashboard.activity.filter.category=2" ng-class="{'active':dashboard.activity.filter.category==2}">Lorries</a>
                    <a ng-click="dashboard.activity.filter.category=3" ng-class="{'active':dashboard.activity.filter.category==3}">Processing</a>
                    <a ng-click="dashboard.activity.filter.category=17" ng-class="{'active':dashboard.activity.filter.category==17}">Buses</a>
                    <a ng-click="dashboard.activity.filter.category=70" ng-class="{'active':dashboard.activity.filter.category==70}">Land</a>
                    <a ng-click="dashboard.activity.filter.category=60" ng-class="{'active':dashboard.activity.filter.category==60}">Irrigation</a>
                    <a ng-click="dashboard.activity.filter.category=50" ng-class="{'active':dashboard.activity.filter.category==50}">Labour</a>
                </h2>
                <ul>
                    <li ng-click="dashboard.userActionFilter(11)">
                        <div>
                            <round-progress max="dashboard.data.searchCount.Male + dashboard.data.searchCount.Female"
                                            current="dashboard.data.searchCount.Male + dashboard.data.searchCount.Female"
                                            rounded="true"
                                            clockwise="true"
                                            responsive="true"
                                            color="#cc3d78"
                                            bgcolor="#ddd">
                            </round-progress>
                            <span>{{dashboard.data.searchCount.Male + dashboard.data.searchCount.Female}}</span>
                        </div>
                        <strong>Total<br />Searches</strong>
                        <small>{{dashboard.data.searchCount.Male}} Male &bull; {{dashboard.data.searchCount.Female}} Female</small>
                    </li>
                    <li ng-click="dashboard.userActionFilter(12)">
                        <div>
                            <round-progress max="dashboard.data.searchCount.Male + dashboard.data.searchCount.Female"
                                            current="dashboard.data.matchCount.Male + dashboard.data.matchCount.Female"
                                            rounded="true"
                                            clockwise="true"
                                            responsive="true"
                                            color="#cc3d78"
                                            bgcolor="#ddd">
                            </round-progress>
                            <span>{{dashboard.data.matchCount.Male + dashboard.data.matchCount.Female}}</span>
                        </div>
                        <strong>Matched<br />Searches</strong>
                        <small>{{dashboard.data.matchCount.Male}} Male &bull; {{dashboard.data.matchCount.Female}} Female</small>
                    </li>
                    <li ng-click="dashboard.userActionFilter(13)">
                        <div>
                            <round-progress max="dashboard.data.searchCount.Male + dashboard.data.searchCount.Female"
                                            current="dashboard.data.bookingCount.Male + dashboard.data.bookingCount.Female"
                                            rounded="true"
                                            clockwise="true"
                                            responsive="true"
                                            color="#cc3d78"
                                            bgcolor="#ddd">
                            </round-progress>
                            <span>{{dashboard.data.bookingCount.Male + dashboard.data.bookingCount.Female}}</span>
                        </div>
                        <strong>Bookings<br />Made</strong>
                        <small>{{dashboard.data.bookingCount.Male}} Male &bull; {{dashboard.data.bookingCount.Female}} Female</small>
                    </li>
                    <li ng-click="dashboard.userActionFilter(14)">
                        <div>
                            <round-progress max="dashboard.data.searchCount.Male + dashboard.data.searchCount.Female"
                                            current="dashboard.data.confirmCount.Male + dashboard.data.confirmCount.Female"
                                            rounded="true"
                                            clockwise="true"
                                            responsive="true"
                                            color="#cc3d78"
                                            bgcolor="#ddd">
                            </round-progress>
                            <span>{{dashboard.data.confirmCount.Male + dashboard.data.confirmCount.Female}}</span>
                        </div>
                        <strong>Bookings<br />Confirmed</strong>
                        <small>{{dashboard.data.confirmCount.Male}} Male &bull; {{dashboard.data.confirmCount.Female}} Female</small>
                    </li>
                    <li ng-click="dashboard.userActionFilter(15)">
                        <div>
                            <round-progress max="dashboard.data.searchCount.Male + dashboard.data.searchCount.Female"
                                            current="dashboard.data.paidCount.Male + dashboard.data.paidCount.Female"
                                            rounded="true"
                                            clockwise="true"
                                            responsive="true"
                                            color="#cc3d78"
                                            bgcolor="#ddd">
                            </round-progress>
                            <span>{{dashboard.data.paidCount.Male + dashboard.data.paidCount.Female}}</span>
                        </div>
                        <strong>Paid<br />Bookings</strong>
                        <small>{{dashboard.data.paidCount.Male}} Male &bull; {{dashboard.data.paidCount.Female}} Female</small>
                    </li>
                    <li ng-click="dashboard.userActionFilter(16)">
                        <div>
                            <round-progress max="dashboard.data.searchCount.Male + dashboard.data.searchCount.Female"
                                            current="dashboard.data.completeCount.Male + dashboard.data.completeCount.Female"
                                            rounded="true"
                                            clockwise="true"
                                            responsive="true"
                                            color="#cc3d78"
                                            bgcolor="#ddd">
                            </round-progress>
                            <span>{{dashboard.data.completeCount.Male + dashboard.data.completeCount.Female}}</span>
                        </div>
                        <strong>Completed<br />Bookings</strong>
                        <small>{{dashboard.data.completeCount.Male}} Male &bull; {{dashboard.data.completeCount.Female}} Female</small>
                    </li>
                </ul>
            </div>

            <h2 ng-if="dashboard.data.bookingsGraph.length">Bookings by month</h2>
            <div class="graph-view" ng-if="dashboard.data.bookingsGraph.length">

                <div class="col" ng-repeat="item in dashboard.data.bookingsGraph">
                    <div>
                        <span style="min-height: {{item.Height}}%">{{item.Count}}</span>
                    </div>
                    <span>{{item.Label}}</span>
                </div>

            </div>

            <h2>Bookings by location</h2>
            <div id="heatmap" style="width: 100%; height: 450px; background-color: #ccc"></div>

            <h2>Users</h2>
            <div class="age-gender-graph">
                <div ng-repeat="item in dashboard.data.ageGenderGraph">
                    <div class="f"><div style="height: {{item.femaleHeight}}%" ng-if="item.female">{{item.femalePercent | percent : 2}} ({{item.female | number}})</div></div>
                    <small>{{item.range}}</small>
                    <div class="m"><div style="height: {{item.maleHeight}}%" ng-if="item.male">{{item.malePercent | percent : 2}} ({{item.male | number}})</div></div>
                </div>
            </div>

        </div>

    </ag-section>

    <ag-status-bar></ag-status-bar>

</div>