
<div ng-controller="FormViewController" ag-title="Income" ag-selected-url="#/journals/list" ag-api-route="/cms/journals/income/">

    <ag-title-bar></ag-title-bar>

    <ag-section ag-controller="form">

        <form>

            <div flex>
                <gl-date gl-label="Date" ng-model="form.entity.Date" gl-required="true"></gl-date>
                <gl-textbox gl-label="Description" ng-model="form.entity.Title" gl-required="true"></gl-textbox>
                <gl-textbox gl-label="Amount" ng-model="form.entity.Amount" gl-type="number" gl-required="true"></gl-textbox>
            </div>

        </form>

    </ag-section>

    <ag-status-bar>

        <gl-icon-button ng-click="form.save()" class="accent" ng-disabled="EditForm.$invalid || form.busy" ng-if="form.entity">Save</gl-icon-button>

    </ag-status-bar>

</div>