
<div ng-controller="ListViewController" ag-title="Ledger" ag-selected-url="#/journals/list" ag-api-route="/cms/journals/">

    <ag-title-bar>

        <ag-title-bar-search ag-controller="list"></ag-title-bar-search>

        <gl-popup-menu gl-position="top right" class="responsive">
            <gl-menu-item gl-icon="done_all" ng-click="app.go('/journals/reconcile?'+app.returnUrlQs())">Reconcile</gl-menu-item>
            <gl-menu-item gl-icon="assignment_returned" ng-click="app.go('/journals/export?'+app.returnUrlQs())">Export</gl-menu-item>
            <gl-menu-item gl-icon="add" ng-click="app.go('/journals/expense?'+app.returnUrlQs())">Add Expense</gl-menu-item>
            <gl-menu-item gl-icon="add" ng-click="app.go('/journals/income?'+app.returnUrlQs())">Add Income</gl-menu-item>
            <gl-menu-item gl-icon="search" ng-click="list.showSearch()">Search</gl-menu-item>
            <gl-menu-item gl-icon="refresh" gl-label-optional="true" ng-click="list.refresh()">Refresh</gl-menu-item>
        </gl-popup-menu>

    </ag-title-bar>

    <ag-section ag-controller="list">

        <gl-list gl-controller="list" gl-infinite="list.next()">
            <div ng-repeat="item in list.data">
                <calendar>
                    <small>{{item.Date | date : 'MMM'}}</small>
                    <big>{{item.Date | date : 'dd'}}</big>
                </calendar>
                <row class="booking">
                    <div>
                        <strong>{{item.Title}}</strong><br />
                        <small>
                            {{item.Type}}
                            <span ng-if="item.Booking"> &bull; Booking #{{item.Booking.Title}}</span>
                        </small>
                    </div>
                    <div style="width: 100px; text-align: right">
                        <span ng-if="item.Debit>0">{{item.Debit | currency : app.region.Currency}}</span><br />
                        <small>&nbsp;</small>
                    </div>
                    <div style="width: 100px; text-align: right">
                        <span ng-if="item.Credit>0">{{item.Credit | currency : app.region.Currency}}</span><br />
                        <small>&nbsp;</small>
                    </div>
                    <div style="width: 100px; text-align: right">
                        <strong>{{item.Balance | currency : app.region.Currency}}</strong><br />
                        <small>&nbsp;</small>
                    </div>
                </row>
                <action>
                    <gl-popup-menu gl-position="top right">
                        <gl-menu-item gl-icon="visibility" ng-click="app.go('/journals/detail/'+item.Id+'?'+app.returnUrlQs())">View</gl-menu-item>
                        <gl-menu-item gl-icon="edit" ng-click="app.go('/journals/income/'+item.Id+'?'+app.returnUrlQs())" ng-if="[6].includes(item.TypeId)">Edit</gl-menu-item>
                        <gl-menu-item gl-icon="edit" ng-click="app.go('/journals/expense/'+item.Id+'?'+app.returnUrlQs())" ng-if="[5].includes(item.TypeId)">Edit</gl-menu-item>
                        <gl-menu-item gl-icon="delete" ng-click="list.delete($index, app.apiUrl + '/cms/journals/delete?id=' + item.Id)" ng-if="[5,6].includes(item.TypeId)">Delete</gl-menu-item>
                    </gl-popup-menu>
                </action>
            </div>
        </gl-list>
    </ag-section>
    <ag-status-bar></ag-status-bar>
</div>
