<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Default.master.cs" Inherits="Agrishare.Web.Pages.Default" %>

<!DOCTYPE html>

<html ng-app="agrishareApp">
<head runat="server" id="Head">
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <title>AgriShare</title>    
    <meta name="viewport" content="width=device-width" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J6FC12KLCM"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('consent', 'default', { 'ad_storage': 'denied', 'analytics_storage': 'denied' });
        gtag('config', 'G-J6FC12KLCM');
    </script>
</head>
<body id="Body" runat="server" ng-controller="AppController">
    <form id="form1" runat="server">

        <header>
            <div>
                <a href="/"><img src="/Resources/Images/WHH-Logo.svg" title="Welthungerhilfe" /></a>
            </div>
            <div>     
                <a href="/">
                    <strong>AgriShare</strong>
                    <small>Connecting you to farm resources</small>
                </a>
            </div>
            <nav ng-class="{ 'visible': menu.visible }">
                <a ng-click="menu.visible=false"><img src="/Resources/Images/Icon-Close.svg" /></a>
                <ul runat="server" id="Menu" />               
            </nav>
            <div>
                <a ng-click="menu.visible=true"><img src="/Resources/Images/Icon-Menu.svg" /></a>
            </div>
        </header>

        <main>
            <asp:PlaceHolder runat="server" ID="FeedbackPrompt" Visible="false">
                <p class="feedback"><asp:Literal runat="server" ID="FeedbackMessage" /></p>
            </asp:PlaceHolder>
            <asp:ContentPlaceHolder ID="Content" runat="server" />
        </main>

        <footer>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about/faqs">FAQs</a></li>
                <li><a href="/about/contact">Contact</a></li>
                <li><a href="/about/terms">Terms &amp; Conditions</a></li>
                <li><a href="/about/privacy">Privacy Policy</a></li>
                <li><a href="/about/rules">App Rules</a></li>
            </ul>
            <div>
                <p>                
                    &copy; Copyright <%=DateTime.Now.Year %> <a href="https://www.welthungerhilfe.org/">Welthungerhilfe</a>. All rights reserved.
                </p>
                <p>
                    <span>Digital solution by</span> <a href="https://www.c2.co.zw/"><img src="/Resources/Images/C2-Logo.svg" title="C2 Digital" /></a>
                </p>
            </div>
        </footer>

        <div class="cookie-consent" id="cookieConsent">
            <p>This site would like to use cookies to measure and improve performance. <a href="/about/privacy#cookies">Learn more</a></p>
            <p>
                <a onclick="allowCookies()" class="allow">Allow</a>
                <a onclick="denyCookies()" class="deny">Deny</a>
            </p>
            <p><em>Note: if you login to AgriShare an authentication cookie will be stored in your browser - this is required for the website to work. 
                You can change your preferences on the <a href="/about/privacy#cookies">privacy</a> page.</em></p>
        </div>

        <script>

            function setCookie (name, value, days) {
                var date = new Date(); date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                document.cookie = name + '=' + value + '; expires=' + date.toGMTString() + '; path=/; domain=<%=CookieDomain%>';
            }
            function getCookie (name) {
                var nameEQ = name + "="; var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i]; while (c.charAt(0) === ' ') c = c.substring(1, c.length);
                    if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
                }
                return null;
            }
            function deleteCookie (name) { setCookie(name, "", -1); }

            var cookieConsentName = "cookie_consent";
            function allowCookies() {
                setCookie(cookieConsentName, 'allow', 365);
                gtag('consent', 'update', { 'analytics_storage': 'granted' });
                document.getElementById('cookieConsent').style.display = 'none';
            }            
            function denyCookies() {
                setCookie(cookieConsentName, 'deny', 365);
                gtag('consent', 'update', { 'analytics_storage': 'denied' });
                document.getElementById('cookieConsent').style.display = 'none';
                deleteCookie('_ga');
                deleteCookie('_ga_J6FC12KLCM');
            }       
            function chooseCookies() {
                document.getElementById('cookieConsent').style.display = 'block';
            }
            var consentCookie = getCookie(cookieConsentName);
            if (!consentCookie) chooseCookies();
            else if (consentCookie === 'allow') gtag('consent', 'update', { 'analytics_storage': 'granted' });
            
        </script>

    </form>
</body>
</html>