
<div ng-controller="ListViewController" ag-title="Bookings" ag-selected-url="#/bookings/list" ag-api-route="/cms/bookings/">

    <ag-title-bar>

        <ag-title-bar-search ag-controller="list"></ag-title-bar-search>

        <gl-popup-menu gl-position="top right" class="responsive">
            <gl-menu-item gl-icon="search" ng-click="list.showSearch()">Search</gl-menu-item>
            <gl-menu-item gl-icon="refresh" gl-label-optional="true" ng-click="list.refresh()">Refresh</gl-menu-item>
        </gl-popup-menu>

    </ag-title-bar>

    <ag-section ag-controller="list">

        <div class="summary-view" ng-show="!list.busy && list.data.length>0 && !list.filter">
            <div style="cursor: pointer" ng-click="app.go('/bookings/list/filter/status/4?'+app.returnUrlQs())">
                <strong>{{list.summary.Complete.Me + list.summary.Complete.Friend + list.summary.Complete.Group}}</strong>
                <small>Complete Bookings</small>
                <em>Me: {{list.summary.Complete.Me}} &bull; Friend: {{list.summary.Complete.Friend}} &bull; Group: {{list.summary.Complete.Group}}</em>
            </div>
            <div style="cursor: pointer" ng-click="app.go('/bookings/list/filter/status/3?'+app.returnUrlQs())">
                <strong>{{list.summary.InProgress.Me + list.summary.InProgress.Friend + list.summary.InProgress.Group}}</strong>
                <small>Bookings In Progress</small>
                <em>Me: {{list.summary.InProgress.Me}} &bull; Friend: {{list.summary.InProgress.Friend}} &bull; Group: {{list.summary.InProgress.Group}}</em>
            </div>
            <div style="cursor: pointer" ng-click="app.go('/bookings/list/filter/status/1?'+app.returnUrlQs())">
                <strong>{{list.summary.Approved.Me + list.summary.Approved.Friend + list.summary.Approved.Group}}</strong>
                <small>Approved Bookings</small>
                <em>Me: {{list.summary.Approved.Me}} &bull; Friend: {{list.summary.Approved.Friend}} &bull; Group: {{list.summary.Approved.Group}}</em>
            </div>
            <ul>
                <li style="cursor: pointer" ng-click="app.go('/bookings/list/filter/status/0?'+app.returnUrlQs())"><strong>{{list.summary.Pending}}</strong> Pending Bookings</li>
                <li style="cursor: pointer" ng-click="app.go('/bookings/list/filter/status/2?'+app.returnUrlQs())"><strong>{{list.summary.Declined}}</strong> Declined Bookings</li>
                <li style="cursor: pointer" ng-click="app.go('/bookings/list/filter/status/5?'+app.returnUrlQs())"><strong>{{list.summary.Cancelled}}</strong> Cancelled Bookings</li>
                <li style="cursor: pointer" ng-click="app.go('/bookings/list/filter/status/6?'+app.returnUrlQs())"><strong>{{list.summary.Incomplete}}</strong> Incomplete Bookings</li>
            </ul>
        </div>

        <div class="graph-view" ng-if="list.summary.Graph.length">

            <div class="col" ng-repeat="item in list.summary.Graph">
                <div>
                    <span style="min-height: {{item.Height}}%">{{item.Count}}</span>
                </div>
                <span>{{item.Label}}</span>
            </div>

        </div>

        <div class="filter-view">
            <gl-dropdown-list gl-placeholder="Category" ng-model="list.filter.category" gl-source="list.response.Categories" gl-selection="Id"></gl-dropdown-list>
            <gl-dropdown-list gl-placeholder="Status" ng-model="list.filter.status" gl-source="list.response.Statuses" gl-selection="Id"></gl-dropdown-list>
            <gl-date gl-placeholder="From" ng-model="list.filter.startDate"></gl-date>
            <gl-date gl-placeholder="To" ng-model="list.filter.endDate"></gl-date>
        </div>

        <gl-list gl-controller="list" gl-infinite="list.next()">
            <div ng-repeat="item in list.data">
                <calendar>
                    <small>{{item.StartDate | date : 'MMM'}}</small>
                    <big>{{item.StartDate | date : 'dd'}}</big>
                </calendar>
                <row class="booking" ng-click="app.go('/bookings/detail/'+item.Id+'?'+app.returnUrlQs())">
                    <div>
                        <strong>{{item.User.FirstName}} {{item.User.LastName}}</strong><br />
                        <small ng-if="item.Listing">{{item.Listing.Category.Title}} &gt; {{item.Listing.Title}}</small>
                        <small ng-if="item.Supplier">{{item.Supplier.Title}}</small>
                        <small> &nbsp; &bull; &nbsp; Created: {{item.DateCreated | date : 'd MMMM yyyy h:mma'}}</small><br />
                        <small class="tag" ng-repeat="tag in item.Tags">
                            <i class="material-icons md-16">local_offer</i>
                            <span>{{tag.Title}}</span>
                        </small>
                    </div>
                    <div>
                        <span style="display: inline-flex; align-items: center">
                            {{item.Price | currency : app.region.CurrencyCode}}
                            <i class="material-icons md-16" ng-if="item.PaidOut" style="color: green; margin-left: 5px">check_circle</i>
                        </span><br/>
                        <small>Commission: {{item.AgriShareCommission | currency : app.region.CurrencyCode}}</small>
                        <small ng-if="item.AgentCommission">&bull; AgriShare: {{item.AgriShareCommission * (1 - item.AgentCommission)  | currency : app.region.CurrencyCode}}</small>
                        <small ng-if="item.AgentCommission">&bull; Agent: {{item.AgriShareCommission * item.AgentCommission | currency : app.region.CurrencyCode}}</small>
                    </div>
                    <div>
                        <em class="status outline">{{item.Status}}</em>
                    </div>
                </row>
                <action>
                    <gl-popup-menu gl-position="top right">
                        <gl-menu-item gl-icon="visibility" ng-click="app.go('/bookings/detail/'+item.Id+'?'+app.returnUrlQs())">View</gl-menu-item>
                        <gl-menu-item gl-icon="cancel" ng-if="item.StatusId!=3 && item.StatusId!=4" ng-click="list.async($index, app.apiUrl + '/cms/bookings/cancel?id=' + item.Id)">Cancel booking</gl-menu-item>
                        <gl-menu-item gl-icon="delete" ng-if="item.StatusId==0" ng-click="list.delete($index, app.apiUrl + '/cms/bookings/delete?id=' + item.Id)">Delete</gl-menu-item>
                    </gl-popup-menu>
                </action>
            </div>
        </gl-list>
    </ag-section>
    <ag-status-bar></ag-status-bar>
</div>
