@import "global";

.account {

    .menu {
        padding: 0;
        list-style: none;

        li {
            padding: 10px 0;
            border-bottom: solid 1px #eee;

            &:last-child {
                border-bottom: none;
            }
        }
    }

    .search {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;

        @media all and (max-width: $mobile-breakpoint) {
            flex-direction: column;
        }

        li {
            flex: 1;
            background: white;
            border-radius: 5px;
            margin: 5px;
            padding: 20px 10px;
            text-align: center;
            background-color: #e2f1e2;

            @media all and (max-width: $mobile-breakpoint) {
                margin: 5px 0;
            }

            a {
                text-decoration: none;
                font-size: 12px;
                color: #999;
            }

            img {
                display: block;
                width: 100px;
                margin: 10px auto;
            }

            span {
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }

    .summary {
        background-color: #e2f1e2;
        display: flex;
        border-radius: 3px;

        > div {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 30px;

            &:first-child {
                border-right: solid 1px white;
            }

            small {
                text-transform: uppercase;
                margin-bottom: 10px;
            }

            span {
                font-weight: 300;
                font-size: 36px;
                line-height: 1;
                color: $green;
            }
        }
    }

    .bookings-list, .listings-list, .results-list, .notifications-list {

        > a {
            display: flex;
            margin: 30px 0;
            text-decoration: none;
            align-items: center;
            background: #eee;

            > span:first-child {
                width: 100px;
                background-color: $green;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                min-height: 100px;
            }

            > span:last-child {
                padding: 10px;
                display: flex;
                flex-direction: column;

                small {
                    color: #999;
                }

                span {
                    color: $green;
                }

                strong {
                    color: black;
                }

                em.status {
                    position: relative;
                    top: -2px;
                    font-style: normal;
                    font-size: 9px;
                    text-transform: uppercase;
                    background: #ddd;
                    padding: 5px 10px;
                    border-radius: 100px;
                    color: #666;
                }

                .button {
                    margin-top: 5px;
                }
            }
        }
    }

    .notifications-summary-list {

        > a {
            display: flex;
            flex-direction: column;
            border-bottom: dashed 1px #ccc;
            padding: 20px 0;
            color: black;
            text-decoration: none;

            strong {
                color: $green;

                em {
                    font-size: 11px;
                    color: #999;
                }
            }

            strong.button {
                margin-top: 10px;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }

    .search-form {

        span {
            color: red;
            margin-top: 5px;
            font-size: 11px;
        }

        > div {
            background-color: #e2f1e2;
            border-radius: 3px;
            padding: 20px;
            margin: 30px 0;

            > p {
                margin-top: 0;
                font-weight: bold;
            }

            .checkbox-list {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    display: flex;
                    align-items: center;

                    input {
                        margin-right: 10px;
                    }
                }
            }

            input[type=text], input[type=number], textarea, select {
                display: block;
                width: 100%;
                margin: 0;
                padding: 10px;
                border: 0;
            }
        }
    }

    .review-list {
        > div {
            padding: 20px;
            border: solid 1px #eee;
            margin: 30px 0;

            p {
                margin: 5px 0;
            }

            small {
                color: #999;
            }
        }
    }

    .stars-1:after, .stars-2:after, .stars-3:after, .stars-4:after, .stars-5:after {
        display: inline-block;
        padding-left: 10px;
        color: $pink;
    }

    .stars-1::after {
        content: "\002605 \002606 \002606 \002606 \002606";
    }

    .stars-2::after {
        content: "\002605 \002605 \002606 \002606 \002606";
    }

    .stars-3::after {
        content: "\002605 \002605 \002605 \002606 \002606";
    }

    .stars-4::after {
        content: "\002605 \002605 \002605 \002605 \002606";
    }

    .stars-5::after {
        content: "\002605 \002605 \002605 \002605 \002605";
    }

    ul.gallery {
        padding: 0;
        list-style: none;
        width: 100%;
        overflow: hidden;

        li {
            display: block;

            img {
                display: block;
                width: 100%;
                margin: 10px 0;
            }
        }
    }

    ul.details {
        padding: 0;
        list-style: none;

        li {
            display: flex;
            padding: 10px 0;
            border-bottom: dashed 1px #eee;

            &:last-child {
                border-bottom: none;
            }

            strong {
                flex: 1;
            }
        }
    }

    .action {
        background-color: #e2f1e2;
        padding: 20px;
        text-align: center;
        border-radius: 3px;
        margin-top: 30px;

        .form-row {

            input, textarea {
                background: white;
            }
        }

        .transactions {
            list-style: none;
            padding: 0;
            border-top: dashed 1px white;

            li {
                border-bottom: dashed 1px white;
                padding: 10px 0;
            }
        }

        .completed {
            list-style: none;
            padding: 0;

            li {
                a {
                    border: solid 1px white;
                    display: block;
                    padding: 10px;
                    margin: 10px 0;

                    &:hover {
                        background: white;
                    }
                }
            }
        }

        .rating {
            display: flex;
            list-style: none;
            padding: 0;

            li {
                flex: 1;
                border: solid 1px white;
                border-right: none;
                text-align: center;
                padding: 10px;
                font-size: 20px;
                cursor: pointer;

                &:hover {
                    background: white;
                }

                &:last-child {
                    border-right: solid 1px white;
                }

                &::after {
                    content: "\002606";
                }

                &.star::after {
                    content: "\002605";
                    color: $pink;
                }
            }
        }
    }

    .booking {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                padding: 10px 0;
                border-bottom: dashed 1px #eee;
                overflow: hidden;

                &:last-child {
                    border-bottom: none;
                }

                strong {
                    display: block;
                    color: $green;
                }

                span {
                    display: block;
                    float: left;
                    width: 50%;

                    &:last-child {
                        text-align: right;
                    }
                }

                &.total {
                    font-size: 24px;

                    strong {
                        float: left;
                        width: 50%;
                    }
                }
            }
        }
    }
}