@import "global";

main {
    display: flex;
    flex-direction: column;
    max-width: $max-width;
    margin: 0 auto;
    padding: 20px 40px;
    background: white;
    position: relative;
    z-index: 2;

    @media all and (max-width: $mobile-breakpoint) {
        padding: 10px 20px;
    }

    h1 {
        color: $green;
        font-weight: 300;
        text-transform: capitalize;
    }

    a {
        color: $pink;
    }

    h3 {
        color: $pink;
        font-weight: 300;
        position: relative;
        padding-bottom: 10px;
        display: flex;
        align-items: baseline;

        &::after {
            content: " ";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20px;
            height: 2px;
            background-color: $pink;
        }

        a {
            flex: 1;
            text-align: right;
            font-size: 10px;
            text-transform: uppercase;
            text-decoration: none;
            color: #333;
        }
    }

    .button {
        display: inline-block;
        cursor: pointer;
        border: 0;
        padding: 10px 20px;
        text-align: center;
        color: $green;
        border: solid 1px $green;
        letter-spacing: 3px;
        background-color: transparent;
        font-weight: bold;
        font-size: 11px;
        text-transform: uppercase;
        border-radius: 1px;
        text-decoration: none;
        transition: all .4s ease;

        &:hover {
            background-color: $green !important;
            color: white !important;
        }
    }

    .cols {
        display: flex;

        @media all and (max-width: $mobile-breakpoint) {
            flex-direction: column;
        }

        > div:first-child {
            width: 70%;
            padding-right: 50px;

            @media all and (max-width: $mobile-breakpoint) {
                width: 100%;
                padding-right: 0;
            }
        }

        > div:last-child {
            width: 30%;

            @media all and (max-width: $mobile-breakpoint) {
                width: 100%;
            }
        }
    }

    .cols-rev {
        display: flex;
        flex-direction: row-reverse;

        @media all and (max-width: $mobile-breakpoint) {
            flex-direction: column;
        }

        > div:last-child {
            width: 70%;
            padding-right: 50px;

            @media all and (max-width: $mobile-breakpoint) {
                width: 100%;
                padding-right: 0;
            }
        }

        > div:first-child {
            width: 30%;

            @media all and (max-width: $mobile-breakpoint) {
                width: 100%;
            }
        }
    }

    .paging {
        display: flex;
        margin: 30px 0;

        > div {
            flex: 1;
            text-align: center;
        }
    }

    .empty {
        font-size: 24px;
        text-align: center;
        padding: 50px;
    }
}