
<div ng-controller="FormViewController" ag-title="Setting" ag-selected-url="#/settings/list" ag-api-route="/cms/settings/">

    <ag-title-bar></ag-title-bar>

    <ag-section ag-controller="form">

        <form>

            <div flex>
                <gl-textbox gl-label="Key" ng-model="form.entity.Title" gl-required="true"></gl-textbox>
                <gl-textbox gl-label="Value" ng-model="form.entity.Value" gl-required="true"></gl-textbox>
            </div>
        
        </form>

    </ag-section>

    <ag-status-bar>

        <gl-icon-button ng-click="form.save()" class="accent" ng-disabled="EditForm.$invalid || form.busy" ng-if="form.entity">Save</gl-icon-button>

    </ag-status-bar>

</div>