
<div ng-controller="FormViewController" ag-title="User" ag-selected-url="#/users/list" ag-api-route="/cms/users/">

    <ag-title-bar></ag-title-bar>

    <ag-section ag-controller="form">

        <form>

            <h2>Personal Details</h2>
            <div flex>
                <gl-textbox gl-label="First name" ng-model="form.entity.FirstName" gl-required="true"></gl-textbox>
                <gl-textbox gl-label="Last name" ng-model="form.entity.LastName" gl-required="true"></gl-textbox>
            </div>
            <div flex>
                <gl-date gl-label="Date of birth" ng-model="form.entity.DateOfBirth"></gl-date>
                <gl-dropdown-list gl-label="Gender" ng-model="form.entity.GenderId" gl-source="form.data.Genders" gl-selection="Id"></gl-dropdown-list>
            </div>
            <gl-dropdown-list gl-label="Language" ng-model="form.entity.LanguageId" gl-source="form.data.Languages" gl-selection="Id"></gl-dropdown-list>

            <h2>Contact Details</h2>
            <gl-textbox gl-label="Email Address" ng-model="form.entity.EmailAddress"></gl-textbox>
            <gl-textbox gl-label="Telephone" ng-model="form.entity.Telephone" gl-required="true"></gl-textbox>

            <h2>Access Control</h2>
            <gl-textbox gl-label="PIN" ng-model="form.entity.ClearPassword" ng-if="form.entity.Id==0" gl-type="password"></gl-textbox>
            <gl-checkbox-list gl-label="Roles" ng-model="form.entity.Roles" gl-source="form.data.Roles" gl-required="true" gl-selection="Id"></gl-checkbox-list>

        </form>

    </ag-section>

    <ag-status-bar>

        <gl-icon-button ng-click="form.save()" class="accent" ng-disabled="EditForm.$invalid || form.busy" ng-if="form.entity">Save</gl-icon-button>

    </ag-status-bar>

</div>