
<div ng-controller="ListViewController" ag-title="Users" ag-selected-url="#/users/list" ag-api-route="/cms/users/">

    <ag-title-bar>

        <ag-title-bar-search ag-controller="list"></ag-title-bar-search>

        <gl-popup-menu gl-position="top right" class="responsive">
            <gl-menu-item gl-icon="add" ng-click="app.go('/users/edit?'+app.returnUrlQs())">Add</gl-menu-item>
            <gl-menu-item gl-icon="search" ng-click="list.showSearch()">Search</gl-menu-item>
            <gl-menu-item gl-icon="refresh" gl-label-optional="true" ng-click="list.refresh()">Refresh</gl-menu-item>
        </gl-popup-menu>

    </ag-title-bar>

    <ag-section ag-controller="list">

        <gl-list gl-controller="list" gl-infinite="list.next()">
            <div ng-repeat="item in list.data">
                <icon>
                    <i class="material-icons">person</i>
                </icon>
                <row>
                    <strong>{{item.FirstName}} {{item.LastName}}</strong><br/>
                    <small>{{item.Telephone}}</small>
                </row>
                <action>
                    <gl-popup-menu gl-position="top right">
                        <gl-menu-item gl-icon="visibility" ng-click="app.go('/users/detail/'+item.Id+'?'+app.returnUrlQs())">View</gl-menu-item>
                        <gl-menu-item gl-icon="local_shipping" ng-click="app.go('/listings/list/filter/userid/'+item.Id+'?'+app.returnUrlQs())">Listings</gl-menu-item>
                        <gl-menu-item gl-icon="account_balance_wallet" ng-click="app.go('/bookings/list/filter/userid/'+item.Id+'?'+app.returnUrlQs())">Bookings</gl-menu-item>
                        <gl-menu-item gl-icon="edit" ng-click="app.go('/users/edit/'+item.Id+'?'+app.returnUrlQs())">Edit</gl-menu-item>
                        <gl-menu-item gl-icon="delete" ng-click="list.delete($index, app.apiUrl + '/users/delete?id=' + item.Id)">Delete</gl-menu-item>
                    </gl-popup-menu>
                </action>
            </div>
        </gl-list>

    </ag-section>

    <ag-status-bar></ag-status-bar>

</div>