
<div ng-controller="FormViewController" ag-title="User" ag-selected-url="#/users/list" ag-api-route="/cms/users/password/">

    <ag-title-bar></ag-title-bar>

    <ag-section ag-controller="form">

        <form>

            <p>Enter a four digit number</p>
            <gl-textbox gl-label="PIN" ng-model="form.entity.ClearPassword" gl-type="number" gl-max="9999" gl-required="true"></gl-textbox>

        </form>

    </ag-section>

    <ag-status-bar>

        <gl-icon-button ng-click="form.save()" class="accent" ng-disabled="EditForm.$invalid || form.busy" ng-if="form.entity">Save</gl-icon-button>

    </ag-status-bar>

</div>