@import "global";


.dashboard-view {
    padding: 40px;

    @media all and (max-width: $mobile-breakpoint) {
        padding: 20px;
    }

    h2 {
        align-items: center;

        .row {
            margin: 0 !important;
        }
    }

    .overview, .settlement {
        display: flex;

        ul {
            flex: 1;
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;

            @media all and (max-width: $mobile-breakpoint) {
                flex-direction: column;
            }

            li {
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 10px;
                flex: 1;

                @media all and (max-width: $mobile-breakpoint) {
                    flex: none;
                }

                big {
                    background: #ccc;
                    padding: 20px;
                    border-radius: 100px;
                    font-size: 24px;
                    font-weight: 300;
                }

                strong {
                    padding: 5px 0;
                }

                small {
                    color: #999;
                }
            }
        }
    }

    .overview {
        ul li:last-child big {
            background: transparent;
            border: solid 1px #ccc;
            color: #333;
        }
    }

    .settlement {
        margin-bottom: 60px;

        ul li big {
            background: $pink;
            color: white;
        }
    }

    .activity {
        margin: 60px 0;

        h2.filter {
            a {
                display: inline-block;
                margin: 0 5px;
                padding: 3px 10px;
                border-radius: 20px;
                color: #999;

                &.active {
                    background: $pink;
                    color: white;
                }
            }

            span {
                display: inline-block;
                margin: 0 10px;
            }
        }

        ul {
            flex: 1;
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;

            @media all and (max-width: $mobile-breakpoint) {
                flex-wrap: wrap;
            }

            li {
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 10px;
                flex: 1;

                @media all and (max-width: $mobile-breakpoint) {
                    flex: 50%;
                }

                div {
                    position: relative;

                    span {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        display: flex;
                        flex: 1;
                        align-items: center;
                        justify-content: center;
                        font-size: 2em;
                        font-weight: 300;
                    }
                }

                .round-progress-wrapper {
                    max-width: 150px;
                    margin: 0 auto;
                }

                big {
                    border: solid 1px #ccc;
                    padding: 20px;
                    border-radius: 100px;
                    font-size: 24px;
                    font-weight: 300;
                }

                strong {
                    padding: 5px 0;
                }

                small {
                    color: #999;
                }
            }
        }
    }
}