/* Title: Gloo Framework
 * Author: Bradley Searle (C2 Digital)
 * Source: www.c2.co.zw
 * License: CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/legalcode) */

@import "global";

.detail-view {
    padding: 40px;
    flex: 1;
    flex-direction: column;
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;


    section:last-child {
        background: #f3f3f3;

        > div > div {
            padding: 20px;
        }
    }

    .gallery-list {
        overflow: hidden;

        li {
            border-radius: 3px;
            float: left;
            width: 50%;
            position: relative;

            a {
                margin: 0 auto;
                display: block;
                width: 90%;
                height: 0;
                padding-top: 90%;
                background-color: #000;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                border-radius: 3px;
                border: solid 2px white;
            }
        }
    }

    .box {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        background: white;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, .1) 0 1px 2px;
        margin-bottom: 10px;
        overflow: hidden;

        .header {
            background-color: $pink;
            display: flex;
            color: white;
            font-size: 1.4em;

            @media all and (max-width: $mobile-breakpoint) {
                flex-direction: column;
            }

            > div {
                padding: 20px;
            }

            > div:first-child {
                flex: 1;

                @media all and (max-width: $mobile-breakpoint) {
                    padding-bottom: 0;
                }
            }

            > div:last-child {
                @media all and (max-width: $mobile-breakpoint) {
                    padding-top: 0;

                    strong {
                        font-weight: normal !important;
                    }
                }
            }

            strong.count {
                background: white;
                color: $pink;
                border-radius: 100px;
                padding: 3px 15px;
            }
        }

        .photo {
            height: 0;
            padding-top: 40%;
            background-size: cover;
            background-position: center center;
            background-color: #ccc;
        }

        .padded {
            padding: 20px;
        }

        > h2 {
            color: white;
            background-color: #aaa;
            padding: 20px;
            border-bottom: solid 3px #eee;
            margin: 0;
            line-height: 1;
            text-transform: uppercase;

            &.accent {
                background-color: $pink;
            }
        }

        > h3 {
            padding: 20px;
            border-bottom: solid 3px #eee;
            margin: 0;
            line-height: 1;
            text-transform: uppercase;
        }

        .lowlight {
            background-color: #eee;
        }

        .details {
            margin: 0;
            padding: 0;
            list-style: none;
            border-top: dashed 1px #eee;

            li {
                border-bottom: dashed 1px #eee;
                padding: 10px 20px;
                display: flex;

                @media all and (max-width: $mobile-breakpoint) {
                    flex-direction: column;
                }

                a {
                    color: black;
                }

                strong {
                }

                span {
                    flex: 1;
                    text-align: right;

                    @media all and (max-width: $mobile-breakpoint) {
                        text-align: left;
                    }
                }
            }

            &.multi-column-2 li,
            &.multi-column-3 li {
                float: left;
            }

            &.multi-column-2 li {
                width: 50%;

                @media all and (max-width: $mobile-breakpoint) {
                    width: 100%;
                }
            }

            &.multi-column-3 li {
                width: 33.33%;

                @media all and (max-width: $mobile-breakpoint) {
                    width: 100%;
                }
            }
        }

        .form {
            padding-top: 10px;
            background: #eee;
        }
    }

    .menu {
        a {
            position: relative;
            left: -10px;
            padding: 3px 10px;
            color: #333 !important;
            border-radius: 100px;

            i {
                color: #888;
            }

            &:hover {
                color: black;
                background: #ddd;

                i {
                    color: $pink;
                }
            }
        }
    }

    em.status {
        background: #999;
        border-radius: 3px;
        font-style: normal;
        font-size: 11px;
        color: white;
        padding: 3px 5px;
        text-transform: uppercase;
        font-weight: bold;

        &.red {
            background: #980707;
        }

        &.orange {
            background: #db720e;
        }

        &.green {
            background: #1e8106;
        }

        &.outline {
            border: solid 1px white;
            color: white;
            background: none;
        }
    }
}