/* Title: Gloo Framework
 * Author: Bradley Searle (C2 Digital)
 * Source: www.c2.co.zw
 * License: CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/legalcode) */

.gl-checkbox {

    > div {
        display: flex;
        flex-direction: column;
        max-height: 200px;
        overflow: auto;
        align-items: flex-start;
        padding: 8px;

        > div {
            display: flex;
            align-items: center;
            padding: 3px;
            cursor: pointer;
            border-radius: 2px;
            transition: all .4s ease;
            width: 100%;

            &:hover {
                background: #ddd;
            }

            > i {
                margin-right: 10px;
            }
        }

    }

}