/* Title: Gloo Framework
 * Author: Bradley Searle (C2 Digital)
 * Source: www.c2.co.zw
 * License: CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/legalcode) */

@import "global";

gl-icon-label, .gl-icon-label {
    display: flex;
    align-items: center;

    i {
        margin-right: 8px;
    }

    &.accent {
        i {
            color: $pink;
        }
    }
}

