/* Title: Gloo Framework
 * Author: Bradley Searle (C2 Digital)
 * Source: www.c2.co.zw
 * License: CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/legalcode) */

@import "global";

gl-list {
    width: 100%;
    min-height: 100%;
    padding: 35px 40px;
    display: flex;
    flex-direction: column;
    flex: 1;

    @media all and (max-width: $mobile-breakpoint) {
        padding: 15px 20px;
    }

    icon.message-read {
        background-color: #ccc !important;
    }

    > div {
        flex: 1;
    }

    ng-transclude {
        > div {
            margin: 5px 0;
            padding: 20px;
            border-radius: 3px;
            box-shadow: rgba(0, 0, 0, .2) 0 1px 2px;
            background: white;
            display: flex;
            align-items: center;

            @media all and (max-width: $mobile-breakpoint) {
                align-items: flex-start;
            }

            &.hotspot {
                cursor: pointer;

                &:hover {
                    background: #fafafa;
                }
            }

            calendar {
                display: flex;
                flex-direction: column;
                width: 60px;
                height: 60px;
                border-radius: 2px;
                overflow: hidden;
                margin-right: 10px;

                > small {
                    background: $pink;
                    color: white;
                    display: block;
                    text-align: center;
                    padding: 3px;
                    font-size: 10px;
                    text-transform: uppercase;
                }

                > big {
                    border: solid 1px #eee;
                    color: #555;
                    font-weight: bold;
                    display: block;
                    text-align: center;
                    padding: 3px;
                    font-size: 16px;
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            photo {
                width: 60px;
                height: 60px;
                border-radius: 2px;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                background-color: $pink;
                margin-right: 20px;
            }

            icon {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                background: $pink;
                justify-content: center;
                border-radius: 100px;
                color: white;
                margin-right: 20px;

                &.pending {
                    background: #ccc;
                }
            }

            row {
                flex: 1;
                cursor: pointer;

                small {
                    color: gray;
                }

                &.blog {
                    display: flex;
                    align-items: center;

                    > strong {
                        flex: 1;
                    }
                }

                &.booking {
                    display: flex;
                    align-items: center;

                    > div:first-child {
                        flex: 1;
                    }

                    > div:nth-child(2) {
                        text-align: right;
                        margin-right: 20px;
                    }

                    > div:last-child {

                        > em {
                            display: inline-block;
                            width: 90px;
                            text-align: center;
                        }
                    }

                    .tag {
                        display: inline-flex;
                        align-items: center;
                        margin-right: 10px;
                        padding-top: 5px;

                        i {
                            margin-right: 5px;
                        }
                    }

                    @media all and (max-width: $mobile-breakpoint) {
                        flex-direction: column;
                        align-items: flex-start;

                        > * {
                            margin: 2px 0 !important;
                            text-align: left !important;
                        }
                    }
                }

                &.listing {
                    display: flex;
                    align-items: center;

                    > div:first-child {
                        flex: 1;
                    }

                    .trending {
                        display: flex;
                        align-items: center;
                        color: #ccc;
                        padding-left: 20px;

                        i {
                            padding: 5px;
                        }

                        .active {
                            color: white;
                            background: green;
                            border-radius: 99px;
                        }
                    }
                }

                &.setting {

                    strong {
                        flex: 1;
                    }

                    span {
                        flex: 1;
                        word-break: break-all;
                        text-align: right;
                    }

                    @media all and (max-width: $mobile-breakpoint) {
                        flex-direction: column;

                        > * {
                            margin: 2px 0 !important;
                        }
                    }
                }

                &.message {
                    display: flex;

                    > div:first-child {
                        flex: 1;
                    }

                    > div:last-child {
                        text-align: right;
                    }
                }

                &.log {
                    display: flex;

                    strong {
                        margin-right: 20px;
                    }

                    em {
                        margin-left: 20px;
                    }

                    span {
                        flex: 1;
                        margin-right: 20px;
                    }

                    @media all and (max-width: $mobile-breakpoint) {
                        flex-direction: column;

                        > * {
                            margin: 2px 0 !important;
                        }
                    }
                }
            }

            action {
                margin-left: 15px;
            }

            .lozenge {
                background: #aaa;
                border-radius: 99px;
                padding: 5px;
                font-size: 11px;
                font-weight: bold;
                font-style: normal;
                color: white;
                text-align: center;
                align-items: center;
                align-self: center;
                line-height: 1;
            }
        }
    }
}

.filter-view {
    background: #ccc;
    display: flex;
    padding: 10px 40px;

    @media all and (max-width: $mobile-breakpoint) {
        padding: 10px;
        flex-direction: column;
    }

    > div {
        flex: 1;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }

        @media all and (max-width: $mobile-breakpoint) {
            margin: 5px 0;
        }
    }
}

.graph-view {
    background: #ddd;
    display: flex;
    padding: 40px;

    .col {
        display: flex;
        flex-direction: column;
        flex: 1;

        > div {
            height: 100px;
            border-bottom: solid 1px #ccc;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            > span {
                margin: 0 auto;
                display: block;
                width: 50px;
                background: $pink;
                color: white;
                text-align: center;
                font-size: 10px;
                padding: 5px 0;
            }
        }

        > span {
            text-align: center;
        }
    }
}