/* Title: Gloo Framework
 * Author: Bradley Searle (C2 Digital)
 * Source: www.c2.co.zw
 * License: CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/legalcode) */

@import "global";

gl-list {
    width: 100%;
    min-height: 100%;
    padding: 35px 40px;
    display: flex;
    flex-direction: column;
    flex: 1;

    @media all and (max-width: $mobile-breakpoint) {
        padding: 15px 20px;
    }

    > div {
        flex: 1;
    }

    ng-transclude {
        > div {
            margin: 5px 0;
            padding: 20px;
            border-radius: 3px;
            box-shadow: rgba(0, 0, 0, .2) 0 1px 2px;
            background: white;
            display: flex;
            align-items: center;

            @media all and (max-width: $mobile-breakpoint) {
                align-items: flex-start;
            }

            &.hotspot {
                cursor: pointer;

                &:hover {
                    background: #fafafa;
                }
            }

            calendar {
                display: flex;
                flex-direction: column;
                width: 60px;
                height: 60px;
                border-radius: 2px;
                overflow: hidden;
                margin-right: 10px;

                > small {
                    background: $pink;
                    color: white;
                    display: block;
                    text-align: center;
                    padding: 3px;
                    font-size: 10px;
                    text-transform: uppercase;
                }

                > big {
                    border: solid 1px #eee;
                    color: #555;
                    font-weight: bold;
                    display: block;
                    text-align: center;
                    padding: 3px;
                    font-size: 16px;
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            photo {
                width: 60px;
                height: 60px;
                border-radius: 2px;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                background-color: $pink;
                margin-right: 20px;
            }

            icon {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                background: $pink;
                justify-content: center;
                border-radius: 100px;
                color: white;
                margin-right: 20px;
            }

            row {
                flex: 1;

                small {
                    color: gray;
                }

                &.blog {
                    display: flex;
                    align-items: center;

                    > strong {
                        flex: 1;
                    }
                }

                &.booking {
                    display: flex;
                    align-items: center;

                    > div:first-child {
                        flex: 1;
                    }

                    > div:nth-child(2) {
                        text-align: right;
                        margin-right: 20px;
                    }

                    > div:last-child {

                        > em {
                            display: inline-block;
                            width: 80px;
                            text-align: center;
                        }
                    }

                    @media all and (max-width: $mobile-breakpoint) {
                        flex-direction: column;
                        align-items: flex-start;

                        > * {
                            margin: 2px 0 !important;
                            text-align: left !important;
                        }
                    }
                }

                &.listing {
                    display: flex;
                    align-items: center;

                    > div:first-child {
                        flex: 1;
                    }
                }

                &.setting {

                    strong {
                        flex: 1;
                    }

                    span {
                        word-break: break-all;
                    }

                    @media all and (max-width: $mobile-breakpoint) {
                        flex-direction: column;

                        > * {
                            margin: 2px 0 !important;
                        }
                    }
                }

                &.log {
                    display: flex;

                    strong {
                        margin-right: 20px;
                    }

                    em {
                        margin-left: 20px;
                    }

                    span {
                        flex: 1;
                        margin-right: 20px;
                    }

                    @media all and (max-width: $mobile-breakpoint) {
                        flex-direction: column;

                        > * {
                            margin: 2px 0 !important;
                        }
                    }
                }
            }

            action {
                margin-left: 15px;
            }
        }
    }
}