/* Title: Gloo Framework
 * Author: Bradley Searle (C2 Digital)
 * Source: www.c2.co.zw
 * License: CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/legalcode) */

@import "global";

.popup-menu {
    position: absolute;
    z-index: 8;
    background: white;
    box-shadow: rgba(0, 0, 0, .2) 0 2px 2px;
    border-radius: 0 0 2px 2px;
    display: none;
    margin: 0;
    list-style: none;
    padding: 5px;

    &.top-offset.right {
        margin-top: 5px;

        &::before {
            content: " ";
            display: block;
            position: absolute;
            top: -10px;
            right: 12px;
            border: solid 5px white;
            border-left-color: transparent;
            border-top-color: transparent;
            border-right-color: transparent;
        }
    }

    a {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 2px;
        color: black;
        text-decoration: none;

        span {
            margin-left: 10px;
            padding-right: 10px;
        }

        &:hover {
            background-color: rgba(0, 0, 0, .1);
        }

        &.disabled {
            color: #999;
            cursor: default;
        }
    }
}

gl-popup-menu {

    display: inline-flex;
    align-items: center;

    > i {
        display: inline-block;
        border-radius: 100px;
        transition: all .4s ease;
        cursor: pointer;
        padding: 5px;

        span {
            margin-left: 10px;
        }

        &:hover {
            background: rgba(0, 0, 0, .2);
        }
    }

    &.responsive {

        > i {
            display: none;

            @media all and (max-width: $mobile-breakpoint) {
                display: inline-block;
            }
        }

        > div {
            display: flex !important;
            position: relative;
            top: auto !important;
            left: auto !important;
            padding: 0;
            box-shadow: none;
            justify-content: flex-end;
            background: none;

            @media all and (max-width: $mobile-breakpoint) {
                display: none !important;
            }

            a {
                display: inline-flex;
                border-radius: 100px;

                &.label-optional {
                    span {
                        display: none;
                    }
                }
            }
        }
    }
}