/* Title: Gloo Framework
 * Author: Bradley Searle (C2 Digital)
 * Source: www.c2.co.zw
 * License: CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/legalcode) */

@import "global";

.time-row {
    cursor: pointer;

    .placeholder {
        color: #666;
        padding: 13px 0;
    }

    input {
        width: 25px;
        padding-right: 0 !important;
        padding-left: 0 !important;
        text-align: center;
    }
}