@import "global";

header {
    padding: 30px 40px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px #ddd;
    position: relative;

    @media all and (max-width: $mobile-breakpoint) {
        padding: 20px;
    }

    > a {
        margin-right: 20px;
    }

    > strong {
        flex: 1;
        font-size: 24px;
        font-weight: 300;
        padding: 10px 0;
    }

    ng-transclude {
        display: flex;
        align-items: center;
    }

    .search {
        background: white;
        border-radius: 100px;
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 40px;
        right: 40px;
        transform: translateY(-50%);
        z-index: 9;

        @media all and (max-width: $mobile-breakpoint) {
            left: 20px;
            right: 20px;
        }

        i {
            margin-left: 15px;
        }

        input[type=search] {
            padding: 15px 10px;
            border: 0;
            flex: 1;
        }

        a {
            cursor: pointer;
            color: red;
            margin-right: 15px;
        }
    }
}