@import "global";

ag-list {
    width: 100%;
    padding: 35px 40px;

    ng-transclude {
        > div {
            margin: 5px 0;
            padding: 20px;
            border-radius: 3px;
            box-shadow: rgba(0, 0, 0, .2) 0 1px 2px;
            background: white;
        }
    }
}