@import "global";

ui-view {
    height: 100%;

    h2 {
        color: $pink;
        text-transform: uppercase;
        font-size: 12px;
        margin: 50px 0 20px 0;
        border-bottom: solid 1px #ccc;
        padding-bottom: 20px;

        &:first-child {
            margin-top: 20px;
        }
    }

    > div {
        display: flex;
        flex-direction: column;
        height: 100%;

        > header {
            flex-grow: 0;
            flex-shrink: 0;
        }

        > ag-section {
            flex: 1;
            display: flex;
            overflow: auto;

            > ng-transclude {
                flex: 1;
                overflow: auto;
            }
        }

        > footer {
            flex-grow: 0;
            flex-shrink: 0;
        }
    }

    .feedback {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex: 1;

        i {
            margin: 20px;
            color: $pink;
        }

        &.busy {
            i {
                animation: spin 1s infinite ease-in-out;
            }

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(180deg);
                }
            }
        }

        span {
            color: gray;
        }
    }
}