@import "global";

ui-view {
    height: 100%;

    h2 {
        color: $pink;
        text-transform: uppercase;
        font-size: 12px;
        margin: 50px 0 20px 0;
        border-bottom: solid 1px #ccc;
        padding-bottom: 20px;

        &:first-child {
            margin-top: 20px;
        }
    }

    > div {
        display: flex;
        flex-direction: column;
        height: 100%;

        > header {
            flex-grow: 0;
            flex-shrink: 0;
        }

        > ag-section {
            flex: 1;
            display: flex;
            overflow: auto;

            > ng-transclude {
                flex: 1;
                overflow: auto;
            }
        }

        > footer {
            flex-grow: 0;
            flex-shrink: 0;
        }
    }

    .feedback {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex: 1;

        i {
            margin: 20px;
            color: $pink;
        }

        &.busy {
            i {
                animation: spin 1s infinite ease-in-out;
            }

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(180deg);
                }
            }
        }

        span {
            color: gray;
        }
    }
}

.summary-view {
    background: #ddd;
    padding: 50px;
    display: flex;

    div, ul {
        flex: 1;
        margin: 0 5px;
    }

    div {
        display: flex;
        flex-direction: column;
        text-align: center;
        background: white;
        padding: 10px;
        border-radius: 100px;

        strong {
            font-size: 1.45em;
            color: #666;
        }

        small {
            color: #999;
        }

        &:first-child {
            background-color: $pink;

            strong, small {
                color: white;
            }
        }
    }

    ul {
        padding: 0 10px;
        margin-left: 20px;
        list-style: none;
        border-left: solid 3px #999;
    }
}