@import "global";

nav {
    background: $green;
    width: 300px;
    color: white;
    padding: 40px;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;

    @media all and (max-width: $mobile-breakpoint) {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    h1 {
        margin: 0;
        font-size: 24px;
        font-weight: 300;
        display: flex;
        align-items: center;

        span {
            flex: 1;
        }

        a {
            display: none !important;

            @media all and (max-width: $mobile-breakpoint) {
                display: block !important;
            }
        }
    }

    > ul {
        flex: 1;
        margin: 20px 0;
        padding: 0;
        list-style: none;

        @media all and (max-width: $mobile-breakpoint) {
            display: none;

            &.visible {
                display: block;
            }
        }

        > li {
            margin: 15px 0;

            a {
                color: rgba(255, 255, 255, .5);
                text-decoration: none;
                display: flex;
                align-items: center;
                transition: all .4s ease;

                i:first-child {
                    margin-right: 20px;
                    width: 30px;
                }

                i:last-child {
                    transition: all .4s ease;
                }

                span {
                    flex: 1;
                }

                &:hover {
                    color: white;
                }
            }

            ul {
                margin: 20px 0;
                padding: 0;
                list-style: none;
                display: none;
                padding-left: 50px;
                opacity: 0;
                transition: all .4s ease;

                &.expanded {
                    display: block;
                    opacity: 1;
                }

                li {
                    margin: 15px 0;

                    &.selected {
                        a {
                            color: white;
                        }
                    }
                }
            }

            &.selected {
                a {
                    color: white;
                }
            }

            &.active {

                i:last-child {
                    transform: rotate(180deg);
                }

                ul {
                    display: block;
                    opacity: 1;
                }
            }
        }
    }

    p {
        margin: 0;
        display: flex;
        align-items: center;

        @media all and (max-width: $mobile-breakpoint) {
            display: none;

            &.visible {
                display: flex;
            }
        }

        i {
            width: 30px;
            margin-right: 20px;
        }

        strong {
            padding-right: 10px;
        }

        a {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 11px;
            color: rgba(255, 255, 255, .5);
            margin-top: 3px;

            i {
                display: none;
            }
        }
    }
}