
<div ng-controller="FormViewController" ag-title="Supplier" ag-selected-url="#/suppliers/list" ag-api-route="/cms/suppliers/">

    <ag-title-bar></ag-title-bar>

    <ag-section ag-controller="form">

        <form>

            <gl-textbox gl-label="Title" ng-model="form.entity.Title" gl-required="true"></gl-textbox>
            <gl-upload gl-label="Logo" ng-model="form.entity" gl-model-attribute="Logo" gl-required="true"></gl-upload>

        </form>

    </ag-section>

    <ag-status-bar>

        <gl-icon-button ng-click="form.save()" class="accent" ng-disabled="EditForm.$invalid || form.busy" ng-if="form.entity">Save</gl-icon-button>

    </ag-status-bar>

</div>